#home{
   
    background-image: url("../assets/background1.jpg");
    background-position: center;
    text-align: center;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    padding: 10%;
}

#about{
    text-align: center;
    padding: 7%;
}

#services{
    background-image: url("../assets/background2.jpg");
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2%;
    
}
#what-we-do{
    text-align: center;
}
#h31{
    font-size: large;
    font-weight: 600;
}