@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');




h1,
h2{
    font-family: 'Cinzel', serif;
}
h6,
p {
  text-align: center;
  font-family: 'Taviraj', serif;
  font-size: large;
  font-weight: 400;
}


#home{
   
    background-image: url("../assets/background1.jpg");
    background-position: center;
    text-align: center;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    padding: 10%;
}

#about{
    text-align: center;
    padding: 7%;
    
}


#services{
    background-image: url("../assets/background2.jpg");
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#what-we-do{
    text-align: center;
    padding: 5%;
    font-family: 'crimson pro', serif;
}

#header1{
    font-size: large;
    font-weight: 600;
}
#header2{
    font-size: large;
    font-weight: 600;
}
#header3{
    font-size: large;
    font-weight: 600;
}
.paragragh1{
    display: none;
}
.paragraph2,
.paragraph3 {
    display: none;
}
.provided{
   
    display: flex;
    flex-wrap: wrap;
   
    padding-right: 15px;
    padding-left: 15px;
    
}

.portfolio{
 text-align: center;
 padding: 5%;
 padding-bottom: -8%;
}

.slide {
    
    
    font-size: x-large;
    font-weight: bolder;
    margin-top: -200px;
    border: 7px solid black;
    width: 100%;
    height: 100%;
    color:red;
    display: none;
    top: 1px;
    z-index: 2;
    padding: 10%;
    background-color: white;
  }
  
  
  
  .anime:hover .slide {
    
    display: inline;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px
    
  }

.contacts{
    text-align: center;
    background-image: url("../assets/background3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10%;
    color: white;
    
}
input {
    text-decoration: none;
    border: 1px solid white;
    background-color: transparent;
    padding-left: 10%;
    margin-right: 10%;
    color: white;
    column-gap: 5%;
}
  
input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
.form-control { 
    margin-top: 10px;
}
.btn{
    margin-top: 10px;
}
footer{
    text-align: center;
    padding-top: 30px;
    font-family: 'Delius Swash Caps', cursive;
  }
